<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css">
<style>
img,iframe {

}
h1,h2,h3,p {
padding-left: 30px;
padding-right: 20px;
}
textarea, span {
margin-left: 25px;
}
.post-list, .post-link, .post-meta {

list-style-type: none;

}
.post-list-heading {

}
.container {
width: 260px;
border-style: none;
border-radius: 25px;
}
</style>
<script src="shrink.js"></script>
</head>
  <body>
  
  <nav class="navbar">
  <div class="nav-brand">MYYEAR.NET</div>
  <button class="nav-toggle" id="navToggle">
    ☰
  </button>
  <ul class="nav-menu" id="navMenu">
                        <li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/upload/">Uploader</a></li>
			<li><a href="/PM/">Inbox</a></li>
			<li><a href="/comment/">Comments</a></li>
			<li><a href="/hiscore/" title="pass: OctoberFall">RS3/OSRS Banners</a></li>
			<li><a href="/mobile/">1on1</a></li>
			<li><a href="/meet/">Connect</a></li>
  </ul>
</nav>
    
 <div class="invisible">
 <div class="listleft">
 <div id="myContainer">
  <div class="content">
     {{ content }}
    </div>
    </div>
     </div>
    </div>
    
    <footer>
    <p>This page is copyrighted &copy; 2014-2025 all rights reserved.</p>
    <p> Any technical errors, send inquires below: </p>
  <p>gloss-sibling-pox@duck.com</p>


	 </footer>
    <script>
  const navToggle = document.getElementById('navToggle');
  const navMenu = document.getElementById('navMenu');

  navToggle.addEventListener('click', () => {
    navMenu.classList.toggle('active');
  });
</script>
  </body>
</html>
